#images h2{
    margin: 2rem 0rem 0rem 0rem;
    font-size: 3.5rem;
}

#images hr{
    width: 20%;
    text-align: center;
    margin: 5rem 0;
    background-color: goldenrod;
    border: solid transparent;
}

#hairline{
    display: flex;
    justify-content: center;
    align-items: center;
}

#side{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#side img {
    height: 18rem;
    width: 18rem;
    margin: 2rem 3rem;
    background-color: #f9f9f9; 
    border: solid 0.5px #ccc; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#side img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#aboutus_cont{
    background-color: black;
    min-height:40vw;
}

#aboutus{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#letter{
    background-color: black;
}

#aboutus_cont h2{
    font-size: 4rem;
    padding: 2rem 0rem 0rem 0rem;
}

#letter h3{
    font-size: 3.5rem;
    color: goldenrod;
} 

#letter p{
    font-size: 1.7rem;
    margin: 2rem 6rem;
    /* font-weight: 500; */
    line-height: 1.5;
    font-weight: 350;
}

#letter a{
    text-decoration: none;
    color: black;
}


#letter button{
    width: 6rem;
    height: 2rem;
    font-size: 1.1rem;
    background-color: goldenrod;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in;
    font-style: italic;
}

.drop_soon{
    background-color: transparent;
    border: none;
}

.see_but{
    width: 8rem;
    height: 2rem;
    font-size: 1.1rem;
    background-color: goldenrod;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in;
    font-style: italic;
    margin: 1rem 0;
    color: black;
}

.see_but a{
    text-decoration: none;
    color: black;
}

#letter button:hover,.see_but:hover{
    background-color: goldenrod;
    color: black;
    border: solid 0.5px white;
}

#letter button:active,.see_but:active{
    transform: scale(0.9);
}

#collab_cont{
    position: relative;
    width: 100%;
    text-align: center;
}

.overlay{
    position: absolute;
    text-align: center;
    color: white;
    z-index: 10;
    background-color: white;
    color: black;
    bottom: 0px;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.overlay h3{
    font-size: 1.5rem !important;
}

.overlay a{
    color: black !important;
    text-decoration: none;
}

.overlay .insta{
    margin: 1rem 0;
    font-size: 1.5rem;
    transition: all 300ms ease-in;
}

.overlay .insta:hover{
   color: goldenrod;
}

#collab{
    display: flex;
    place-items: center;
}

#collab_cont h2{
    font-size: 4rem;
}

#collab_cont a{
    text-decoration: none;
    color: white
}

#collab img{
    min-width: 0;
    width: 33.33%;
    height: 50rem;
    object-fit: cover;
    filter: grayscale(1);
    transition: all 300ms ease-in;
}

#collab img:hover{
    filter: grayscale(0);
}

#info h3{
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.5rem;
}

#images h4{
    font-size: 1.2rem;
    font-style: italic;
}

footer{
    background-color: #c71669;
    min-height: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.foot-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: white;
    transition: all 400ms ease;
}

footer a:hover{
    color: black;
}

.teddy{
    height: 5rem;
    width: 5rem;
}

#trend{
    display: flex;
    flex-direction:row;
    height: 50rem;
    overflow: hidden;
}

#tr_cont{
    background-color: goldenrod;
    display: grid;
    place-content: center;
    font-style: italic;
}

#tr_cont h2{
    font-size: 3rem;
    margin: 0 5rem;
}

#tr_img {
    background-image: url("/public/img/back.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: relative;
    height: 100%;
}

#tr_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, black 70%, goldenrod);
    opacity: 0.4;
    pointer-events: none;
}

@media only screen and (max-width:1024px){
    #info h3{
        font-size: 1.2rem;
    }

    #images h2{
        margin: 2rem 0rem 0rem 0rem;
        font-size: 2.5rem;
    }

    #side img{
        height: 10rem;
        width: 10rem;
        margin: 1rem 1rem;
    }

    #side{
        margin: 1rem 0;
    }

    #tr_img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.8;
        pointer-events: none;
    }

    #images hr{
        width: 50%;
        margin: 1rem 0;
    }
    
    #aboutus{
        gap: 0.5rem;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #letter{
        background-color: black;
    }
    
    #aboutus_cont h2{
        font-size: 2.5rem;
        padding: 1rem 0rem 0rem 0rem;
        margin-top: 2rem;
    }

    #letter h3{
        margin-top: 2.8rem;
        font-size: 1.8rem;
        color: goldenrod;
    } 
    
    #letter p{
        font-size: 1.1rem;
        margin: 1rem 1.5rem 2rem 1.5rem;
        word-spacing: 0.1rem;
    }

    #aboutus img{
        height: 15rem;
        width: 12rem;
    }
    
    #letter button{
        width: 6rem;
        height: 2rem;
        font-size: 1.1rem;
        margin: 1rem 0 2rem 0;
        color: black;
    }

    #collab img{
        min-width: 0;
        max-height: 40rem;
        flex: 1 1 1rem;
        transition: 0.5s;
    }
    
    #collab img:hover{
        flex: 1 1 20rem;
    }

    .overlay{
        margin: 0.5rem 0.5rem;
        padding: .8rem 0.8rem;
        border-radius: 10px;
    }
    
    .overlay h3{
        font-size: 0.8rem !important;
    }
    
    .overlay h2{
        font-size: 1.5rem !important;
    }

    .overlay .insta{
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    footer{
        background-color: #c71669;
        min-height: 2vw;
        font-size: 0.5rem;
        width: 100%;
    }
    
    #trend{
        display: flex;
        flex-direction: column;
        height: 50rem;
        border-bottom: solid goldenrod;
    }

    #tr_cont h2{
        margin: 0 1rem;
    }

    #tr_cont{
        font-size: 1rem;
        background-color: black !important;
    }

    #tr_img {
        background-image: url('/public/img/back9.jpg');
        background-color: black;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
        position: relative;
        height: 100%;
    }

    #tr_cont{
        background-color: transparent;
        display: grid;
        place-content: center;
        font-style: italic;
        border-top: solid goldenrod;
        margin-top: 2rem;
    }
    
    #tr_cont h2{
        font-size: 2.5rem;
        margin: 2rem;
    }
    
}