.full_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 11;
    pointer-events: auto;
}

.full_logo img{
    max-width: 100%;
    max-height: 100%;
    z-index: 11;
}

#front{
    color: white;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vw;
    z-index: 11;
}

.full_logo a{
    pointer-events: fill !important;
    z-index: 999;
}


h1{
    color: white;
}
