.product-item {
    text-align: center;
    box-sizing: border-box;
    scrollbar-width: none;
    z-index: 2;
    padding: 1rem 1rem;
    overflow: hidden;
    width: 50%;
    display: grid;
    place-items: center;
}

#car_con{
    display: grid;
    place-items: center;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
    height: 35rem;
    object-fit:cover;
    border: solid goldenrod;
    overflow: hidden;
    margin: 0 1rem;
}

.product-item img:hover {
    border: solid white;
    transform: scale(1.05);
}

.product-detail {
    margin: 1rem 0 0 0;
}

.product-detail h4{
    font-size: 2.8rem;
    margin: 1rem 0;
    letter-spacing: 0.05rem;
}

.product-detail p{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-style: italic;
}


.product-detail a{
    font-size: 2.5rem;
    margin: 1rem 0;
    text-decoration: none;
    color: #ff4142;
    transition: all 400ms ease-in-out;
}

.product-detail a:hover {
    color: white;
    transform: scale(1.05);
}

.pi-chevron-left, .pi-chevron-right {
    font-size: 2rem;
    color: white;
}

@media only screen and (max-width:1024px){
    /* .product-item {
        border: solid red;
        padding: 1rem 0;
        margin: 0 0;
        width: 10%;
    }

    .product-item img {
        height: 20rem;
        border: solid pink; 
        margin: 0 0;
    }   


    .product-detail {
        margin: 0.5rem 0 0 0;
        border: solid blue; 
    }

    .product-detail h4{
        font-size: 2rem;
        margin: 0.5rem 0;
        letter-spacing: 0.05rem;
    }
    
    .product-detail p{
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    
    .product-detail a{
        font-size: 2.1rem;
        margin: 0.5rem 0;
    } */
}

