.product-item {
    text-align: center;
    box-sizing: border-box;
    scrollbar-width: none;
    width: 100%;
    z-index: 2;
    padding: 2rem 0;
}

.product-item img {
    width: 40%;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
    height: 40rem;
    object-fit:cover;
    border: solid goldenrod;

}

.product-item img:hover {
    border: solid white;
    transform: scale(1.05);
}

.product-detail {
    margin: 1rem 0 0 0;
}

.product-detail h4{
    font-size: 2.8rem;
    margin: 1rem 0;
    letter-spacing: 0.05rem;
}

.product-detail p{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-style: italic;
}


.product-detail a{
    font-size: 2.5rem;
    margin: 1rem 0;
    text-decoration: none;
    color: #ff4142;
    transition: all 400ms ease-in-out;
}

.product-detail a:hover {
    color: white;
    transform: scale(1.05);
}


/* @media only screen and (max-width:1024px){
    .product-item {
        border: solid red;
        padding: 1rem 0;
        width: 20%;
    }

    .product-item img {
        height: 20rem;
        border: solid pink; 
    }   


    .product-detail {
        margin: 0.5rem 0 0 0;
        border: solid blue; 
    }

    .product-detail h4{
        font-size: 2rem;
        margin: 0.5rem 0;
        letter-spacing: 0.05rem;
    }
    
    .product-detail p{
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    
    .product-detail a{
        font-size: 2.1rem;
        margin: 0.5rem 0;
    }
} */

@media only screen and (max-width:1024px) {
    .product-item {
        width: 100%; /* Make width responsive */
        padding: 1rem 0;
    }

    .product-item img {
        height: auto;
        max-width: 100%; /* Ensure the image doesn't overflow */
    }

    .product-detail h4,
    .product-detail p,
    .product-detail a {
        margin: 0.5rem 0;
    }
}

