*{
  padding: 0;
  margin: 0;
}

.App {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#symbols{
  position: absolute;
  top: 3rem;
  left: 1rem;
  color: goldenrod;
  font-size:2.5rem;
}

#symbols .email{
  font-size:2.7rem;
  transition: all 400ms ease-in;
}

#symbols .insta{
  font-size:2.7rem;
  transition: all 400ms ease-in;
}

#symbols .twitter{
  font-size:2.7rem;
  transition: all 400ms ease-in;
}

#symbols .twitter:hover{
  color: #9782ac;
}

#symbols .insta:hover{
  color: #c71669;
}

#symbols .email:hover{
  color: #ff4142;
}

#symbols a{
  text-decoration: none;
  color: goldenrod;
}

#but_buy{
  position: absolute;
  padding: 1rem 2rem;
  top: 1rem;
  right: 1rem;
}

#but_buy button{
  height: 3rem;
  width: 6rem;
  border: solid 0.5px goldenrod;
  background-color: transparent;
  color: goldenrod;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 1px;
}

#but_buy button:hover{
  background-color: goldenrod;
  color: black;
  border: solid 0.5px white;
}

#but_buy button:active{
  transform: scale(0.9);
}


#logo_position{
  animation: App-logo-spin 1s ;
}

#info{
  margin-top: 40vw;
  width: 100%;
  min-height: 90vw;
  color: white;
  background-image: url("/public/img/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#info h1{
  font-size: 7rem;
  margin-top: 3rem;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0) ;
  }

  to {
    transform: rotate(360deg);
  }
} */